body {
    font-family: Montserrat, sans-serif;
}

body h2, h3{
    text-align:center;
}

h1,h2,h3,h4,ol,ul,div{
    color: #303030;
}

body video {
    max-width:100%;
    margin:0;
    padding:0;
    border:0;
}
* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

p {
    text-align: justify;
    padding-left: 5px;
    padding-right: 5px;
}

ul li{
    margin-top:2%;
}

figure, figcaption{
    text-align:center;
    font-size:75%;
}

img{
    max-width:110%;
    text-align:center;
}

.attantion {
    padding: 10px;
    margin: 12px;
    background-color: #FFCBA3;
    border-radius: 4px;
    color: #222222;
}