@model Dictionary<string, string>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>currensys</title>
</head>
<body>
    <h2>@Model.FirstOrDefault(p => p.Key == "bchuah").Value</h2>
</body>
</html>
